absl-py
astor
Click
cycler
Flask
gast
google-pasta
grpcio
gunicorn
h5py
itsdangerous
Jinja2
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
numpy
opt-einsum
pandas
pip
protobuf
pyparsing
python-dateutil
pytz
PyYAML
scikit-learn
scipy
setuptools
six
sklearn
tensorboard
tensorflow
tensorflow-estimator
termcolor
Theano
Werkzeug
wheel
wrapt
